spot-2.9/
owl-21.0/
**/__pycache__
.idea
wandb
experiments
.pytest_cache
trajectories.pdf
cache
/eval_results/
multiple_results/
*.fish
paper_utils
ldba.png
# ========== Project ignores ==========
.vscode/
cache/
eval_datasets/
experiment/
result/
result_infinite/

# ========== Common Python ==========
__pycache__/
*.py[cod]
*.log
*.tmp
*.swp
.venv/
env/
build/
dist/
*.egg-info/
.DS_Store
